.pet-sidebar {
  min-width: 280px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;

  .pet-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .pet-wrapper {
      position: relative;

      .pet {
        display: grid;
        place-items: center;
        aspect-ratio: 1 / 1;
        &:not(.owned) {
          filter: brightness(0);
        }
      }

      .question-mark {
        position: absolute;
        color: rgb(var(--primary));
        font-size: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }

      .functions {
        display: none;
        transition: all 0.3s;
      }

      &:hover .functions {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        display: flex;
        gap: 5px;

        button {
          border-radius: 50%;
          width: 40px;
          aspect-ratio: 1 / 1;
          cursor: pointer;
          border: 2px solid rgba(var(--secondary), 0.5);
          display: grid;
          place-items: center;
          transition: all 0.3s;

          &:hover {
            border: 2px solid rgb(var(--primary));
            transform: scale(1.3);
          }

          img {
            width: 80%;
            height: 80%;
          }
        }
      }
    }
  }
}
