.dashboard-sidebar {
  width: 400px;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .welcome-msg {
      color: white;
      font-size: 16px;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 8px;
      .image {
        width: 36px;
      }
      .name {
        color: rgb(var(--secondary));
        font-weight: bold;
        font-size: 16px;
        .io {
          color: rgb(var(--primary));
        }
      }
    }
  }

  section .title {
    font-weight: bold;
    font-size: 16px;
    color: rgb(var(--primary));
    border-bottom: 1px solid rgb(var(--secondary));
    margin-bottom: 13px;
  }

  section.daily-rewards {
    .content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      flex-wrap: wrap;
      gap: 6px;

      .reward {
        background: white;
        border-radius: 20px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        transition: all 0.2s;

        img {
          max-height: 50px;
        }

        .date {
          font-weight: bold;
          font-size: 12px;
          color: rgb(var(--primary));
        }

        &:hover:not(&.expired) {
          transform: scale(1.03);
        }

        &.expired {
          filter: brightness(0.5);
        }

        &.available {
          border: 3px solid rgb(var(--primary));
        }
      }
    }
  }

  section.active-chest {
    .content {
      background: white;
      border-radius: 20px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 130px;
        &:hover {
          animation: shake 0.5s infinite;
        }
      }
      .text {
        text-align: center;
        .percent {
          font-weight: bold;
          font-size: 45px;
          color: rgb(var(--primary));
        }
        .guide {
          font-size: 12px;
        }
      }
    }
  }

  section.announcements {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .content {
      background: white;
      padding: 8px;
      flex: 1;
      overflow-y: auto;
      font-size: 14px;
      .event {
        color: #0176ff;
      }
      .farm {
        color: #00b13c;
      }
      .warning {
        color: #ff0404;
      }
    }
  }
}
