.sidebar-b {
  min-width: 300px;
  height: 100%;

  font-size: 50px;
  font-weight: bold;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .auth-btn {
    width: 70px;
    aspect-ratio: 1 / 1;
    background: red;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50%;
    border: none;
  }

  .google-btn {
    background: red;
    color: white;
  }

  .facebook-btn {
    background: blue;
    color: white;
  }
}